@tailwind base;
@tailwind utilities;

/*
@media(max-width: 1366px){
  .container{
    width: 1280px;
  }
}
@media(max-width: 1280px){
  .container{
    width: 1034px;
  }
  
}
@media(max-width: 1024px){
  .container{
    width: 768px;
  }
}
@media(max-width: 768px){
  .container{
    width: 640px;
  }
}

@media(max-width: 768px){
  .container{
    width: 640px;
  }
}
*/
